<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- <div class="banner">
    <img src="assets/img/alex-profile-background.png" class="background">
    <img src="assets/img/alex-profile-pic.png" class="avatar" *ngIf="mostrarFoto">
  </div>
  <div text-center class="headline">
    <h2>Alex Wong</h2>
    <ion-note>
      Software Developer
    </ion-note>
  </div>
  <ion-list no-lines>
    <ion-item>
      <button ion-button (click)="agregarRespuesta()">agregar respuesta</button>
    </ion-item>

    <ion-item>
      <button ion-button (click)="goToHome()">go home</button>
      <button ion-button (click)="goToFeed()">go feed</button>
      <button ion-button menuToggle>Toggle Menu</button>
    </ion-item>
    <ion-item>
      <input type="text" #question />
      <button ion-button (click)="addQuestion(question.value)">preguntar</button>
    </ion-item>
    <ion-item>
      <input type="text" #key />
      <button ion-button (click)="updateNivel(key.value)">update</button>
    </ion-item>
    <ion-item>
      <button ion-button (click)="toggleFoto()" >toggleFoto</button>
    </ion-item>

  </ion-list>
  <ion-row text-center>
    <ion-col>
      <button ion-button icon-only clear>
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only clear>
          <ion-icon name="logo-instagram"></ion-icon>
        </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only clear>
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
    </ion-col>
  </ion-row> -->
  <ion-list>
    <ion-item *ngFor="let pregunta of preguntas">
      {{pregunta.description}}
      <select>
        <option
          *ngFor="let opcion of pregunta.opciones"
          [value]="opcion"
        >
          {{opcion}}
        </option>
      </select>
    </ion-item>
  </ion-list>
</ion-content>
